.veld {
  height: 400px;
  width: 100%;
  background-color: #5555bb;
}
.randlijn-links {
  // place them next to eachother
  display: inline-block;
  background-color: black;
  height: 400px;
  width: 50px;
}
.randlijn-rechts {
  display: inline-block;
  background-color: black;
  height: 400px;
  width: 50px;
}
