<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Hallo Sven</span>
    <span class="ruimte"></span>
    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="16px grid">
    <div fxFlex="33%">
      <mat-card class="sven-card">
        <mat-card-header>
          <div mat-card-avatar class="sven-vuur-image"></div>
          <mat-card-title>Kaart 1</mat-card-title>
          <mat-card-subtitle>Dik en schuin</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://media.istockphoto.com/photos/red-hot-flames-of-fire-isolated-on-black-picture-id183862714?k=20&m=183862714&s=170667a&w=0&h=A52etHpxV8rIS5l0n2ObbfxK28j_9M65EeZ-8NF9mnE="
        />
        <mat-card-content>
          <app-tekst-sven></app-tekst-sven>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="33%">
      <mat-card class="sven-card">
        <mat-card-header>
          <div mat-card-avatar class="sven-hart-image"></div>
          <mat-card-title>Kaart 2</mat-card-title>
          <mat-card-subtitle>Hartjes tellen</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png"
        />
        <mat-card-content>
          <app-hartjes-teller></app-hartjes-teller>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="33%">
      <mat-card class="sven-card">
        <mat-card-header>
          <div mat-card-avatar class="sven-game-image"></div>
          <mat-card-title>Kaart 3</mat-card-title>
          <mat-card-subtitle>de game</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <app-ping-pong></app-ping-pong>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
